body {
    background-image: url('../../Assets/Images/1349697.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: ProtestRevolution-Regular;
}

.Container {
    float: left;
    padding-left: 5%;
    padding-top: 6%;
}

.Card {
    width: 90%;
    max-width: 550px;
    color: white;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 5);
}