.Homebody {
    background-image: url('../Assets/Images/strawhat.jpeg');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    text-align: center;
    font-family: Pro1;
    color: white;
    letter-spacing: 10px;
}
.Navi{
    background-color: black;
    min-height: 70px;
    
}

.Navi ul li {
    display: inline;
}
.Navi ul{
    padding-top: 20px;
    text-align: right;
}

.Navi ul li a{
    text-decoration: none;
    margin: 50px;
    color: white;
    font-family: cursive;
}